[Unit]
Description=Timer for updating OCP cache every 12 hours

[Timer]
OnBootSec=10min
OnUnitActiveSec=12h
Unit=update-ocp-cache.service

[Install]
WantedBy=timers.target